@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,400;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap");

* {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Montserrat;
}

p {
  font-family: "Lato";
}

.-checked {
  text-decoration: line-through;
  color: gray;
}

#taches p {
  display: flex;
  align-items: center;
}
