<template>
  <div>
    <h1>Mes Taches</h1>
    <form @submit.prevent="addTask">
      <input type="text" placeholder="Text" v-model="value" />
      <button type="submit">Ajouter une tache</button>
    </form>
    <Task
      v-for="task in tasks"
      :key="task.id"
      :task="task"
      @toggle="toggleCheck(task)"
      @delete="deleteTask(task)"
    />
    <h2>Stats</h2>
    <p>{{ done }}/{{ total }}({{ avg }}%)</p>
  </div>
</template>

<script>
import Task from './components/Task.vue';
import {getTasks,addTask,updateTaskState,deleteTask} from './services/api'
export default {
  name: 'App',
  components: {
    Task
  },
  data: () => ({
    value: '',
    tasks: [],
  }),
  computed: {
    total() {
      return this.tasks.length;
    },
    done() {
      return this.tasks.filter(task => task.state).length
    },
    avg() {
      return (this.total > 0 ? this.done / this.total * 100 : 0).toFixed(2);
    }
  },
  methods: {
    async addTask() {
      const task = await addTask(this.value);
      this.tasks.push(task);
      this.value = '';
    },
    async deleteTask(task) {
      await deleteTask(task);
      this.tasks = this.tasks.filter(t => t.id !== task.id)
    },
    async toggleCheck(task) {
      await updateTaskState(task)
      task.state = !task.state;
    },
    async getTasks() {
      const tasks = await getTasks();
      this.tasks = tasks;
    }
  },
  mounted() {
    this.getTasks();
  }
}
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  width: 50vw;
  margin: auto;
  margin-top: 60px;
}
.task {
  display: flex;
}
</style>
